body{
    background-color: rgb(206, 206, 206);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar{
    padding: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel{
    display: flex;
    overflow: hidden;
    width: 300px;
}

.carousel img {
    width: 100%;
    transition: transform 0.5s ease-in-out;
}

.categoria{
    padding: 5px;
    justify-content: center;
    text-align: center;
}

.renner{
    padding: 10px;
    width: 200px;
}

.carrinho{
    width: 40px;
}

.lupinha{
    margin: 20px;
    display: flex;
    height: 50px;
    width: 50px;
}

h3{
    background-color: rgb(218, 218, 218);
}

h2{
    padding: 10px;
    background-color: rgb(201, 201, 201);
}

#searchbar {
    display: flex;
    text-align: center;
    width: 1000px;
    margin: 20px;
    border: solid;
    border-color: rgb(124, 124, 124);
    background-color: rgb(167, 167, 167);
}

.roupas {
    background-color: rgb(231, 231, 231);
    text-align: center;
    margin: 30px;
    border: solid;
    border-color:  rgb(180, 180, 180);
    
}

section{
    margin: 20px;
    background-color: white;
}

.flex {
    display: flex;
}

.tamanho{
    height: 400px;
    width: 400px;
}

#contato{
    
    text-align: center;
}

footer{
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
}